<table>
	<tr class='title'>
		<td colspan='3'>Descrição</td>
	</tr>
	<tr>
		<td colspan='3'>
			<textarea name="descricao"></textarea>
		</td>
	</tr>
	<tr class='title'>
		<td colspan='3'>Tabela</td>
	</tr>
	<tr>
		<td colspan='3'>
			<input type="text" name="tabela"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>Carga horária</td>
		<td colspan='2'>Período</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="cha"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="periodo_inicio" class="date"></input> - 
			<input type="text" name="periodo_fim" class="date"></input>
		</td>
	</tr>
</table>
