<table>	
	<tr class='title'>
		<td>Curso</td>
		<td colspan='2'>Disciplina</td>
		<td>Conjugada</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="curso"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="disciplina"></input>
		</td>
		<td>
			<input type="checkbox" name="conjugada"></input>
		</td>
	</tr>
	
	<tr class='title'>
		<td>Turma</td>
		<td>Número de alunos</td>
		<td>Sub Turma</td>
		<td>Número de alunos</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="turma"></input>
		</td>
		<td>
			<input type="text" name="numero_alunos"></input>
		</td>
		<td>
			<input type="text" name="sub"></input>
		</td>
		<td>
			<input type="text" name="numero_sub"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>CHT</td>
		<td colspan='2'>CHP</td>
		<td>CHC</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="cht"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="chp"></input>
		</td>
		<td>
			<input type="text" name="chac"></input>
		</td>
	</tr>
		<tr class='title'>
		<td>Ano</td>
		<td>Semestre</td>
		<td colspan='2'>Carga Horária</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="ano"></input>
		</td>
		<td>
			<input type="text" name="sem"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="cha"></input>
		</td>
	</tr>
</table>
