<table>
	<tr class='title'>
		<td colspan='3'>Título do trabalho</td>
	</tr>
	<tr>
		<td colspan='3'>
			<textarea name="titulo_do_trabalho"></textarea>
		</td>
	</tr>
	<tr class='title'>
		<td colspan='3'>Tabela</td>
	</tr>
	<tr>
		<td colspan='3'>
			<input type="text" name="tabela"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>Estudante</td>
		<td>Matrícula</td>
		<td>Função do docente</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="estudante"></input>
		</td>
		<td>
			<input type="text" name="matricula"></input>
		</td>
		<td>
			<input type="text" name="funcao_do_docente"></input>
		</td>
	</tr>
	
	<tr class='title'>
		<td>Nível</td>
		<td colspan='2'>Curso</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="nivel"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="curso"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>IES</td>
		<td colspan='2'>Tipo de orientação</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="ies"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="tipo_orientacao"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>Carga horária</td>
		<td colspan='2'>Período</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="cha"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="periodo_inicio" class="date"></input> - 
			<input type="text" name="periodo_fim" class="date"></input>
		</td>
	</tr>
</table>
