<table>
	<tr class='title'>
		<td colspan='3'>Título do projeto</td>
	</tr>
	<tr>
		<td colspan='3'>
			<textarea name="titulo_do_projeto"></textarea>
		</td>
	</tr>
	<tr class='title'>
		<td>Tabela</td>
		<td>Unidade Responsável</td>
		<td>Tipo</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="tabela"></input>
		</td>
		<td>
			<input type="text" name="unidade_responsavel"></input>
		</td>
		<td>
			<input type="text" name="tipo"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>Situação</td>
		<td>Função</td>
		<td>Financiado</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="situacao"></input>
		</td>
		<td>
			<input type="text" name="funcao"></input>
		</td>
		<td>
			<input type="text" name="financiado"></input>
		</td>
	</tr>
	<tr class='title'>
		<td>Carga horária</td>
		<td colspan='2'>Período</td>
	</tr>
	<tr>
		<td>
			<input type="text" name="cha"></input>
		</td>
		<td colspan='2'>
			<input type="text" name="periodo_inicio" class="date"></input> - 
			<input type="text" name="periodo_fim" class="date"></input>
		</td>
	</tr>
</table>
