<table id="instructor_data">
	<tr>
		<td class='label' width='130px'>Nome</td>
		<td>
			<span data='name'></span>
		</td>
		<td class='label' width='110px'>Titulação</td>
		<td>
			<span data='titration'></span>
		</td>
		<td class='label' width='150px'>Matrícula SIAPE</td>
		<td>
			<span data='siape'></span>
		</td>
	</tr>
	
	<tr>
		<td class='label'>E-mail</td>
		<td>
			<span data='email'></span>
		</td>
		<td class='label'>Unidade</td>
		<td>
			<span data='unit'></span>
		</td>
		<td class='label'>Regime de trabalho</td>
		<td>
			<span data='work_regime'></span>
		</td>
	</tr>
	
	<tr>
		
		<td class='label'>Classe</td>
		<td>
			<span data='class'></span>
		</td>
		<td class='label'>Nível</td>
		<td>
			<span data='level'></span>
		</td>
		<td class='label'>Data de ingresso na UFG</td>
		<td>
			<span data='ufg_ingress_date'></span>
		</td>
	</tr>
	
	<tr>
		<td class='label'>Data de ingresso no serviço público</td>
		<td>
			<span data='ps_ingress_date'></span>
		</td>
		<td class='label'>CH contratada</td>
		<td>
			<span data='hired_workload'></span>
		</td>
		<td class='label'>CH executada</td>
		<td>
			<span data='performed_workload'></span>
		</td>
	</tr>
</table>
