<table>
	<tr>
		<td class='label'>Nome</td>
		<td colspan='4'>
			<span data='name'></span>
		</td>
		<td colspan='2' class='label'>Matrícula SIAPE</td>
		<td colspan='3'>
			<span data='siape'></span>
		</td>
	</tr>
	
	<tr>
		<td class='label'>Unidade</td>
		<td colspan='7'>
			<span data='unit'></span>
		</td>
		<td class='label'>Titulação</td>
		<td>
			<span data='titration'></span>
		</td>
	</tr>
	
	<tr>
		<td class='label'>Regime de trabalho</td>
		<td>
			<span data='work_regime'></span>
		</td>
		<td class='label'>Classe</td>
		<td>
			<span data='class'></span>
		</td>
		<td class='label'>Nível</td>
		<td>
			<span data='level'></span>
		</td>
		<td class='label'>CH contratada</td>
		<td>
			<span data='hired_workload'></span>
		</td>
		<td class='label'>CH executada</td>
		<td>
			<span data='performed_workload'></span>
		</td>
	</tr>
	
	<tr>
		<td class='label'>E-mail</td>
		<td colspan='2'>
			<span data='email'></span>
		</td>
		
		<td colspan='2' class='label'>Data de ingresso na UFG</td>
		<td>
			<span data='ufg_ingress_date'></span>
		</td>
		
		<td colspan='3' class='label'>Data de ingresso no serviço público</td>
		<td colspan='1'>
			<span data='ps_ingress_date'></span>
		</td>
	</tr>
</table>
